body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#dot {
  width: 100px;
  height: 100px;
  background-color: black;
  border: 5px solid white;
  border-radius: 50%;
}

.white-dot {
  background-color: white;
}
